{% if not (carousel or product or account or gated) %}
    {% set header = post.hero_header %}
    {% set intro = post.hero_intro %}
    {% set content = post.hero_content %}
    {% set image = post.hero_image %}
    {% set moreContent = post.hero_more_content %}
    {% set type = post.hero_type %}
    {% set linktype = post.hero_button_hero_link_config %}
    {% set link = post.hero_button_hero_link %}
    {% set skiplinktext = post.hero_button_link_text %}
    {% set category = post.parent %}
{% endif %}

<div class="c-hero {% if type %}c-hero--{{ type }}{% endif %}{% if product %} c-hero--product{% endif %}{% if moreContent == 'text' %} c-hero--text{%endif%}">

    <div class="c-hero__row">
        <div class="o-grid-container c-hero__container">
            <div class="c-hero__main">

                {% if product %}
                    {% do action('woocommerce_before_single_product') %}
                {% endif %}

                <div class="c-hero__main__inner">

                    <div class="c-hero__main__inner__main">
                        {% if product or category %}
                        <div class="c-hero__tagline">
                            <a href="{{ category.slug }}">{{ category }}</a>
                        </div>
                        {% endif %}
                        <h1 class="c-hero__heading">
                            {% if header %}
                                {{ header }}
                            {% else %}
                                {% if carousel %}
                                    {{ hero.post_title }}
                                {% else %}
                                    {{ post.title }}
                                {% endif %}
                            {% endif %}
                        </h1>
                        {% if type == 'full' and intro %}
                            <p class="c-hero__intro">{{ intro }}</p>
                        {% endif %}
                        {% if fn('is_front_page') and item.type == 'page' %}
                            {% set thelink = fn('get_the_permalink') %}
                            {% include "./elements/button.twig"
                                with  {
                                    title : 'Browse products',
                                    url: thelink,
                                    altClass: 'e-cta-button--skip'
                                }
                            %}
                        {% else %}
                            {% if type == 'full' and linktype != 'none' %}
                                <div class="c-hero__cta">
                                    {% if linktype == 'customlink' %}
                                        {% include "./elements/button.twig"
                                            with  {
                                                title : link['title'],
                                                url: link['url'],
                                                target: link['target']
                                            }
                                        %}
                                    {% elseif linktype == 'skiplink' %}
                                        {% include "./elements/button.twig"
                                            with  {
                                                title : skiplinktext,
                                                url: post.link ~ "#details",
                                                altClass: 'e-cta-button--skip'
                                            }
                                        %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if product and link %}
                            
                            <div class="c-hero__product-cta">
                                <div class="c-hero__product-cta__details">
                                    {% include "./elements/button.twig"
                                        with  {
                                            title : link.title,
                                            url: post.link ~ "#details",
                                            color: 'outline',
                                            altClass: 'e-cta-button--skip'
                                        }
                                    %}
                                </div>
                                <div class="c-hero__product-cta__form">
                                    {% include "./elements/button.twig"
                                        with  {
                                            title : 'Buy now',
                                            url: post.link ~ "#product-order-form",
                                            color: 'outline'
                                        }
                                    %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    
                    {% if type == 'full' and moreContent == 'text' and content %}
                        <p class="c-hero__main__inner__text">{{ content }}</p>
                    {% endif %}

                </div>

            </div>

            {% if type == 'full' and moreContent != 'none' %}
            <div class="c-hero__image-text">

                {% if moreContent == 'text' and content %}
                    <p class="c-hero__image-text__text">{{ content }}</p>
                {% endif %}
            </div>
            {% endif %}
        </div>

        {% if type == 'full' and moreContent == 'image' and image %}
            <div class="o-grid-container o-grid-container--full-width c-hero__container-background">
    
                <div class="c-hero__container-background__image-text">
                    <img class="c-hero__image-text__image" src="{{ TimberImage(image).src }}" srcset="{{ TimberImage(image).srcset()}}" />
                </div>

            </div>
        {% endif %}

    </div>

</div>


<div id="details"></div>